<%- include("partials/header.ejs") %>

    <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          <div class="col-md-2 min-vh-100 bg-dark">
            <!-- Include Sidebar Partial -->
            <%- include('partials/sidebar') %>
          </div>
      
    
          <div class="col-md-10 instructor-name">
            <form action="/view-instructor" method="POST" class="m-auto p-4 border rounded w-50">
              <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required>
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>    


      <%- include("partials/footer.ejs") %>